
body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #000;
    margin: 0px;
    overflow: hidden;
}

body input[type=range] {
    width: auto;
}

#fromto .img{
    width: 30px;
    height: 80px;
    margin-right:10px;
    border: 1px solid #bbb;
}

#fromto{
    background: white;
    position:absolute;
    top: 0;
    z-index: 20;
    margin: 10px;
    padding: 10px;
}

#fromto select.browser-default{
    width: auto;
    display:block;
}

#fullscreen{
    background: white;
    position: absolute;
    width: 40px;
    top: 0;
    right: 0;
    z-index: 20;
}

#fullscreen .btn{
    padding-left: 10px;
}

#bottom-right{
    z-index: 20;
    position: absolute;
    bottom: 0;
    right: 0;
}

#bottom-right .btn-small{
    padding: 0px 10px 0px 10px;
}

#bottom-left {
    z-index: 10;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 10px 0px 10px;
}

#left-clicker {
    position: absolute;
    /*background-color: #f00;*/
    left: 0;
    width: 50%;
    height: 100%;
}

#right-clicker {
    position: absolute;
    /*background-color: #00f;*/
    right: 0;
    width: 50%;
    height: 100%;
}
