
body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #000;
    margin: 0px;
    overflow: hidden;
}

body select.browser-default{
    width: auto;
    display:inline;
}

body input[type=range] {
    width: auto;
}

#info {
    -webkit-box-shadow: inset 0px -5px 23px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -5px 23px -6px rgba(0,0,0,0.75);
    box-shadow: inset 0px -5px 23px -6px rgba(0,0,0,0.75);
    background-color: #fff;
    position: absolute;
    height: 100px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}

#left-clicker {
    position: absolute;
    /*background-color: #f00;*/
    left: 0;
    width: 50%;
    height: 100%;
}

#right-clicker {
    position: absolute;
    /*background-color: #00f;*/
    right: 0;
    width: 50%;
    height: 100%;
}
